#calculator_container{
    display: flex;
    flex-direction: column;
    background-color: rgb(65, 61, 61);
    width: fit-content;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    margin: 10px auto;
}
#display_area{
    background-color: white;
    width:350px ;
    height: 70px;
    overflow-x: hidden;
    margin-bottom: 15px;
    border-radius: 7px;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 36px;

}
.calculator_raw{
    /* margin: 5px auto; */
    margin: 8px 5px;

}
.calculator_raw button{
    width: 60px;
    height: 6rem;
    
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(238, 172, 72);
    color: white;
}
.calculator_raw button:hover{
    background-color: rgb(255, 153, 0);
    cursor: pointer;
}